.nav {
  display: flex;
}

nav > div.nav-item {
  border: solid salmon 1px;
  display: inline-block;
  padding: .5em;
  border-radius: 5px;
  margin-left: .25em;
}

nav > .brand {
  color: goldenrod;
  font-size: 2em;
  display: inline-block;
  padding: .5em 5em .5em 1em;
}